<template> 
        <div v-if="seen">
            ciao
        </div>
</template>
<script>
     export default {
        // mounted() {
        //     console.log('Component mounted.')
        // }
        data: function() {
            return {
             
       }
     },
     methods: {
       
        seen: function (event) {
         this.seen != this.seen
         console.log("yo")
        }
      }
      
    }
</script>