<template>
    <div>
    <h2>ciao</h2>
    <button v-on:click="say"></button>
    </div>
</template>
<script>
    export default {
        // mounted() {
        //     console.log('Component mounted.')
        // }
        data: function() {
            return {
       message: 'Hello Vue.js!'
       }
     },
    methods: {
    say: function (event) {
      alert(this.message)
    }
  }
    }
</script>
