<template>
    
        
        <nav>
             <div class="col-md-12 topmenu text-center">
                  <a href="#" v-on:click="say">MENU</a>
                  <a href="#" v-on:click="attivooo">DOVE SIAMO</a>
                  <a href="#">CONTATTACI</a>
                  <a href="#">BLOG</a>
             </div>
        </nav>
</template>
<script>
Vue.component('contenutooo', {
  template: `
        <h1 :class="{ active: attivo }">BUNE - Ristorante Bistrot fronte mare a Torre Mozza (Ugento)</h1>
  `,
   props: ['attivooo'],
  methods: {
      
        
      }
});
    export default {
        // mounted() {
        //     console.log('Component mounted.')
        // }
        data: function() {
            return {
             message: 'Hello Vue.js!',
             attivo: true
       }
     },
      methods: {
        say: function (event) {
          alert(this.message)
        },
        // isActive: function (event) {
        //   this.active != this.active
        // },

        attivoooo: function() { this.attivo != this.attivo }
        
      },
    
    }
</script>
