body {
	font-family: 'Nunito', sans-serif;
	/*padding-top:5em;*/
}
h1 {
	font-family: 'Nunito', sans-serif;
	text-transform: uppercase;
	text-align: center;
	font-size:2em;
}
h2 {
	text-align: center;
	font-size:1.5em;
}
iframe {
	max-width: 100%;
}
.navbar-brand img {
	max-width: 3.5em;
}
#bunewelcome {
	/*height:100vh;*/
	background-image:url('/img/sito/bunepallini.png');
	font-family: 'Nunito', sans-serif;
	padding:1.5em;
	height:70vh;
}

#bunewelcome img {
	margin:auto;
	margin-top:2.5em;
	max-width:20em;
}
#bunewelcome p {
	font-size:1.5em;
	text-align:center;
	color:#2f292b;
}

#immaginewelcome img {
	width: 100vw;
	height:100vh;
}
.no-padding {
	padding:0;
}
.slider-text {
	position: absolute;
	top:10em;
}
.iconewelcome {
	margin-top:2em;
}
#fotofood-drink-fun img {
	/*max-width:50vw;*/
	margin-top:1em;
}
.rowimmagine1 img {
	margin-top:0 !important;
}
/*.rowimmagine {
	display: table;
}
.rowimmagine [class*="col-"] {
        float: none;
        display: table-cell;
        vertical-align: top;
    }*/
.sfondo_onde {
	/*background-image: url("../img/sfondo_onde.png");*/
	max-width: 100%;
	position: relative;
}
.sfondo_onde img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.row.rowimmagine {
  display: flex;
  flex-wrap: wrap;
}
.row.rowimmagine > [class*='col-'] {
  flex-grow: 1;
}
#immagine1 {
	margin-top:0 !important;
}
#immagine1 img {
	float:left;
}
#immagine2 img {
	float:right;
}
#video_e_descrizione {
	margin-top:1em;

}
#testovideo {
	margin-top:5em;
}
#testovideo h2 {
	margin-bottom:2.5em;
}


.slider-text-middle {
	/*display: table-cell;*/
	vertical-align: middle;
}
.pull-right {
	float:right;
}
.padding-caption {
	padding:7%;
}
.caption-1 {
	
}
.slider-content-box {
	position: relative;
	z-index: 2;
}

#servizi-icone-container {
	margin-top:2em;
	margin-bottom:2em;

}

#servizi-icone-container img {
	margin:auto;
}

.iconaservice {
	max-width: 90px;
	max-height: 90px;
}
.iconaservice h3 {
	font-family: 'Baloo', cursive;
	color:black;
	text-align:center;
}

.nav-tabs img {
	max-height: 60px;
	margin:auto;
}
.titolomenu {
	font-family:'Nunito', sans-serif;
	font-size:2em;
	margin-bottom:0;
	margin-bottom: 1em;
	word-spacing: 9999rem;

}
.iconemenu {
	max-width: 60px;
	margin:auto;
}
.titoloiconemenu {
	font-family: 'Baloo', cursive;
	font-size:2em;
}
.tab-content span {
	font-family: 'Baloo', cursive;
}

.descrizionetitolomenu {
	font-family: 'Nunito', sans-serif;
}
.descrizionetitolomenu h2 {
	font-size:1.8em;
	margin-top:0;
}




.panel-default {
	border:none;
}
.panel-group img {
	max-height:60px;
}


.panel-heading {
	font-family: 'Baloo', cursive;
	font-size:2em;
	text-align: center;
	background-color: transparent !important;
	border:none;
}
.panel-heading img {
	margin:auto;
}

#servizi-icone-container {
width:100%;
padding:5em;
margin:0;

}

#intestazione_menu {
	border:1px solid black;
	margin-top:5em;
}

 .buttoninfo {
	background:transparent;
	border:1px solid black;
	padding:1.5em;
	margin-top:2em;
	width:20em;
	background-color: #333333;
	color:white;
	font-weight: bold;
	position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.primobutton {
	margin-top:3em;
}
.iframemap {
	display: block;
	margin: auto;
}

.modal-body h3 {
	font-size:1.2em;
}
.modal-header h4 {
	font-weight: bold;
}

.articoliblogindex {
	margin-top:1em;
	
}
.blogtitleindex a, h3 {
	text-decoration: none;
	color:#333333;
	font-family: 'Nunito', sans-serif;
	font-size:1.5em;
}
.titleblogindex h3 {
	color:#fbde14;
	font-size:2.5em;
	text-align: center;
}
.blogtitleindex a:hover {
	text-decoration: underline;
}
.articoliblogindex a {
	text-decoration: none;
	color:#333333;
	font-family: 'Nunito', sans-serif;
	font-size:1.2em;
	text-transform: uppercase;
	font-weight: bold;
	word-break: break-all;
}
.articoliblogindex a:hover {
	text-decoration: underline;
}

div.articleblogindex{
	float:left; /* important */
	position:relative; /* important(so we can absolutely position the description div */
}
div.titleblogindex{
	position:absolute; /* absolute position (so we can position it where we want)*/
	bottom:0px; /* position will be on bottom */
	color:white;	
}
a.titleblog-content{
	padding:10px;
	margin:0px;
	color:black;
	text-align: center;
}

.btn-primary {
	background-color:transparent;
	border:none;
	color:black;
}
.btn-primary:hover {
	background-color:transparent;
	border:none;
	color:black;
}
.btn-primary:active {
	background-color:transparent;
	border:none;
	color:black;
}
.btn-primary:focus {
	background-color:transparent;
	border:none;
	color:black;
}

.swiper-container {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
}
.swiper-slide {
        background-position: center;
        background-size: cover;
        width: 300px;
        height: 300px;
}
.scoprimenu {
	text-align: center;
	font-family:'Nunito', sans-serif;
}
.imgarticle {
	margin:auto;
	width:30em;
}


body, html {
    height: 100%;
}

#left {
    position: fixed;
    top: 0;
    bottom: 0;
}