@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);*, *:before, *:after{box-sizing:border-box;}
html{font-size:21px;}
body{font-family:'Quicksand', sans-serif !important;}
h1,h2,h3,h4,h5{font-family:'Quicksand', sans-serif !important;}
a{font-family:'Quicksand', sans-serif !important;}
.navbar-default{background-color:white;}
.navbar-default .navbar-nav>li>a{color:#003054;font-weight:bold;}
.contattaci-navmenu{color:#16b6c5 !important;}
.navbar{margin-bottom:0;border:none;z-index:9998;}
.nav>li{margin-right:3em;}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{color:#16b6c5;text-decoration:underline;}
.homepage-container{padding-right:0;padding-left:0;margin-top:5em;}
#immagine-grande-home{padding-right:0;padding-left:0;height:90vh;background-color:#16b6c5;}
#immagine-grande-home img{max-height:100vh;position:relative;margin:auto;}
.testo-su-immagine{position:absolute;bottom:1.5vh;text-align:center;width:100%;background-color:#16b6c5;}
.testo-su-immagine h2{color:white;font-size:1rem;margin-top:10px;font-family:'Quicksand', sans-serif !important;}
.testo-su-immagine h3{color:white;font-size:2.5em;line-height:1.5;letter-spacing:2px;}
.testo-su-immagine button{background-color:transparent;border:1px solid white;padding:0.5em;border-radius:4%;width:15em;}
.testo-su-immagine button:hover{border:2px solid #fd6120;}
#secondobottonehome button{float:left;}
.pulsanti-su-immagine button{padding:0.8em;margin-top:2em;width:10em;margin-right:2em;background-color:#337ab7;border:1px solid transparent;color:white;font-weight:bold;}
.pulsanti-su-immagine button:hover{text-decoration:underline;border:1px solid white;}
.pulsanti-su-immagine #primobottone{margin-right:2em;}
.pulsanti-su-immagine #secondobottone{right:0;}
.pulsanti-su-immagine i{color:#337ab7;}
#secondaicona{right:0;}
#secondaicona i{float:right;margin-right:30%;font-size:7em;}
#primaicona{left:0;}
#primaicona i{float:left;margin-left:30%;font-size:7em;@media only screen
and (min-width:1224px){}
}
@media screen and (max-width:767px){.scopri-il-corso-hero{display:none;}
#immagine-grande-home{height:auto;}
.testo-su-immagine{bottom:initial;padding-bottom:1em;}
.icona-home{padding-top:5em !important;}
.info-o-dubbi h5{text-align:center !important;margin-bottom:2em;float:none !important;}
}
@media only screen
and (min-width:1824px){.testo-su-immagine{position:absolute;top:0.2em;left:50%;}
.testo-su-immagine h3{color:white;font-size:2.5em;font-weight:bold;line-height:1.5;letter-spacing:2px;}
.pulsanti-su-immagine{position:absolute;bottom:15em;right:10em;}
}
#inizio-sezione-corsi-home{}
.corsi-home{background-color:#ffffff;padding:1em;}
.corsi-home h2{text-align:center;font-family:'Lato', sans-serif !important;letter-spacing:2px;margin-bottom:20px;color:#073558;}
.corso-singolo{background-color:white;padding:2em;}
.corso-singolo h2{color:#003054;}
.corso-singolo a:hover{text-decoration:underline;}
a{color:#003054;}
a:hover{text-decoration:none;color:#003054;}
.corso-singolo:hover{}
.corso-singolo img{width:100%;height:15em !important;}
.corso-singolo h2{font-size:1.2em;font-weight:500;}
hr{border-color:black;}
.corsi-home button{padding:0.8em;background-color:#337ab7;border:1px solid transparent;color:white;font-weight:bold;margin-top:2em;margin-bottom:2em;}
.corsi-home button:hover{text-decoration:underline;border:1px solid white;}
#icone-home{text-align:center;background-color:#073558;color:white;padding:3em;}
#icone-home .fa-4x{font-size:6em;}
#icone-home h3{font-size:1.3em;font-weight:bold;}
.icona-home{padding-top:3em;}
.scritta-su-categ{background-color:white;width:100%;margin-top:2em;}
.scritta-su-categ h2{color:#073558;text-transform:uppercase;font-weight:bold;}
.scritta-su-categ a{color:#16b6c5;}
.scritta-su-categ:hover{color:#16b6c5;}
.button-su-categ button{background-color:transparent;border:1px solid #073558;padding:0.5em;border-radius:4%;width:15em;color:black;}
.button-su-categ button:hover{border:1px solid #fd6120;text-decoration:none;}
.info-o-dubbi{background-color:#003054;padding:2em;}
.info-o-dubbi h5{color:white;font-size:1.5em;float:right;}
.button-contattaci button{background-color:transparent;border:1px solid white;padding:0.5em;border-radius:4%;width:15em;float:left;font-size:1.2em;color:white;font-weight:bold;}
.button-contattaci button:hover{border:2px solid #fd6120;}
.footer h6{text-align:center;}
.footer li{list-style:none;font-family:'Quicksand', sans-serif !important;}
.pagina-categ-container{padding:0;}
.immagine-categoria-pagina{padding:0;}
.immagine-categoria-pagina img{width:100vw;opacity:0.8;max-height:90vh;}
.descrizione-corso h2{font-size:1.5em;font-weight:normal;text-transform:none;text-align:justify;line-height:1.5;letter-spacing:1px;}
.tasto-contatti-su-img{position:absolute;left:0;top:0;}
.titolo-categ-pagina{text-align:center;text-transform:uppercase;margin-top:2em;}
.titolo-categ-pagina h1{color:#003054;font-size:2em;letter-spacing:2px;font-weight:bold;line-height:1.5;}
hr{width:5em;border-color:black;}
.pagina-categ-button-div{margin-top:2em;font-weight:bold;}
.chi-siamo-fluid{padding:0;}
.immagine-chi-siamo{padding:0;}
.chi-siamo{margin-top:1em;margin-bottom:1em;}
.chi-siamo h1{text-align:center;color:#003054;}
.chi-siamo h2{font-weight:normal;font-size:1.5em;line-height:1.5;}
.scopriinostricorsi h2{font-size:1em;color:white;margin:0;font-weight:bold;text-align:justify;}
.scopriinostricorsi button{background-color:#16b6c5;border:2px solid #16b6c5;padding:1em 2em 1em 2em;display:block;margin:auto;}
.iscrivitisubito a:hover{color:white;}
.scopriinostricorsi button:hover{text-decoration:underline;color:white;}
.scopriinostricorsi{margin-bottom:2em;}
.col-md-6.corso-singolo.text-center{border:2px dashed transparent;}
.col-md-6.corso-singolo.text-center:hover{border:2px dashed #16b6c5;}
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img{display:block;width:100%;height:auto;}
.scopri-il-corso-hero{position:absolute;bottom:0;background-color:rgb(255, 255, 255);background-color:rgba(255, 255, 255, 0.38);}
.scopri-il-corso-hero a{text-align:center;color:#003054;font-weight:bold;}
.scopri-il-corso-hero h2{font-weight:bold;text-transform:uppercase;}
.scopri-il-corso-hero button{display:block;margin:auto;background-color:transparent;padding:1em 2em 1em 2em;}
.icone-footer{margin-bottom:5em;padding:2em 0em 1em 0em;background-color:#003054;}
.icona-footer{text-align:center;color:white;}
.icona-testo-footer h3{font-size:1.2em;font-weight:bold;}
.iscrivitisubito h3{font-size:1.5em;text-transform:uppercase;margin:0.5em;}
.iscrivitisubito button{background-color:transparent;padding:1em 2em 1em 2em;border:2px solid #003054;display:block;margin:auto;color:#003054;}
.iscrivitisubito button:hover{background-color:#003054;padding:1em 2em 1em 2em;border:2px solid #003054;display:block;margin:auto;color:white;}
.iscrivitisubito{margin-bottom:5em;}
.contattaci-container{background-color:#003054;padding:2em;text-align:center;color:white;position:fixed;bottom:0;width:100vw;}
.navbar-brand{padding:0;}
.navbar-brand img{max-width:4em;}
h4.modal-title{text-align:center;color:white;}
button#submit{background-color:#003054;display:block;margin:auto;}
.modal-header{background-color:#003054;}
.modal-header .close{color:white;}
#largeModal{z-index:99999;}
.flash-message{position:fixed;bottom:0;z-index:999;width:100vw;}
.alert-success{margin:0;font-size:1.5em;}
a.close{font-size:1.5em;color:#003054;opacity:1;}
.bottone-form-contatti{margin-top:1em !important;font-weight:bold;}
.link-footer a{color:#003054;text-align:center;margin-right:1em;}
.link-footer{margin-top:0;color:#003054;}
.info-footer{color:#003054;}